@import './mixin'

.currentNumber {
  text-align: center;
  font-size: 90px;
}

.numberType .name {
  font-size: 9px;
}

.numberType .description {
  font-size: 9px;
}

.numberType .description {
  display: none;
}

.numberType.active .description {
  display: inline;
}

.numberType.active .name {
  font-weight: bold;
}
